<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script> -->
     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>


<body>
     <div class="tags">
     </div>
     <!-- <input type="text" name="mysearch" id="mysearch" /> -->

     <div class="searchbar">
          <div class="search">
               <div class="icon"></div>
               <div class="input">
                    <input type="text" placeholder="Search" name="mysearch" id="mysearch" />
               </div>
               <span class="clear" id="clear"></span>
          </div>
     </div>
     <div class="outercover">
          <div class="innercover">
               {% for i in context %}
               <div onclick="displaydetails(this,'/display/')" id={{ forloop.counter }} class="list active">
                    <!-- {{ forloop.counter }} -->
                    <!--Count for id-->
                    <div class="cardheader">
                         <p>{{i.name.0}}</p>
                         <br>
                    </div>
                    <div class="cardcontent">
                         <!--Journal Name-->
                         <p> {{i.journal}} </p>
                         <br>
                         <!--Paper Name-->
                         <p>{{i.paper}} </p>
                         <br>
                         <!--Edition-->
                         <p> edition:{{i.edition}} </p>
                         <br>
                         <!--Year-->
                         <p> year:{{i.year}} </p>
                         <br>
                         <!--starting Page-->
                         <p> start page:{{i.spage}} </p>
                         <br>
                         <!--Ending page-->
                         <p> end page:{{i.epage}} </p>
                         <br>
                    </div>
               </div>
               {% endfor %}
          </div>
          <div class="fixedbtn">
               <a href="/upload/">
                    <p>+</p>
               </a>
          </div>
     </div>
     <script src="{% static 'js/display.js'%}"></script>
     <script src="{% static 'js/tags.js'%}"></script>

</body>

</html>